.my-row {
    height: 50px;
}

.my-item {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
}

.color-border {
    background-color: black;
}

.color-eyes {
    background-color: black;
}

.color-skin {
    background-color: antiquewhite;
}

.color-hair {
    background-color: mediumpurple;
}

.color-hair-accessory {
    background-color: white;
}

.color-background {
    background-color: white;
}

.color-clothes-main {
    background-color: white;
}

.color-clothes-outline-1 {
    background-color: rebeccapurple;
}

.color-clothes-pocket {
    background-color: mediumpurple;
}

.color-clothes-zipper {
    background-color: skyblue;
}

.color-clothes-outline-2 {
    background-color: skyblue;
}


.block-1 {
    width: 4%
}

.block-2 {
    width: 8%
}

.block-3 {
    width: 12%
}

.block-4 {
    width: 16%
}

.block-5 {
    width: 20%
}

.block-6 {
    width: 24%
}

.block-7 {
    width: 28%
}

.block-8 {
    width: 32%
}

.block-9 {
    width: 36%
}

.block-10 {
    width: 40%
}

.block-11 {
    width: 44%
}

.block-12 {
    width: 48%
}

.block-13 {
    width: 52%
}

.block-14 {
    width: 56%
}

.block-15 {
    width: 60%
}

.block-16 {
    width: 64%
}

.block-17 {
    width: 68%
}

.block-18 {
    width: 72%
}

.block-19 {
    width: 76%
}

.block-20 {
    width: 80%
}

.block-21 {
    width: 84%
}

.block-22 {
    width: 88%
}

.block-23 {
    width: 92%
}

.block-24 {
    width: 96%
}

.block-25 {
    width: 100%
}
